name: Build Raspberry PI4 Image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: timdesi/arm-runner-action@HEAD
      id: build_image
      with:
        base_image : ubuntu_server:21.04-swdc
        image_additional_mb : 4096
        cpu: 'cortex-a8'
        shell : bash
        use_systemd_nspawn: 'no'
        copy_repository_path : '/.repo'
        commands: |
            cat /etc/os-release
            ls -l /.repo
            rsync -avh --dry-run /.repo/src /
    - name: Compress the release image
      #if: github.ref == 'refs/heads/releng' || startsWith(github.ref, 'refs/tags/')
      run: |
        mv ${{ steps.build_image.outputs.image }} my-release-image.img
        xz -0 -T 0 -v my-release-image.img
    - name: Upload release image
      uses: actions/upload-artifact@v2
      #if: github.ref == 'refs/heads/releng' || startsWith(github.ref, 'refs/tags/')
      with:
        name: Release image
        path: my-release-image.img.xz
