name: Build Raspberry Pi4 Image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with :
          repository: bosch/swdc-os-quickstart-image-raspberry
          #path: cloudagent
          token: ${{ secrets.BUILD_CLOUD_AGENT }}          
    - uses: timdesi/arm-runner-action@HEAD
      id: build_image
      with:
        base_image : https://swdcdownloads.blob.core.windows.net/\$web/swdc_image_v2.10_03092021.zip
        image_additional_mb : 4096
        cpu: 'cortex-a8'
        shell : bash
        use_systemd_nspawn: 'no'
        copy_repository_path : '/.repo'
        commands: |
            cat /etc/os-release
            ls -l /.repo
            rsync -avh /.repo/src /
    - name: Find our current tag
    - uses: oprypin/find-latest-tag@v1
      with:
          repository: bosch/swdc-os-quickstart-image-raspberry
          token: ${{ secrets.BUILD_CLOUD_AGENT }}
          releases-only: false 
          run: echo "Our repo is at version ${{ steps.build_image.outputs.tag }}"
          
    - name: Compress the release image
      #if: github.ref == 'refs/heads/releng' || startsWith(github.ref, 'refs/tags/')
      run: |
        mv ${{ steps.build_image.outputs.image }} swdc-image-${{ steps.build_image.outputs.tag }}-092021.img
        #xz -0 -T 0 -v my-release-image.img
        zip swdc-image-${{ steps.build_image.outputs.tag }}-092021.img
    #- name: Upload release image
    #  uses: actions/upload-artifact@v2
      #if: github.ref == 'refs/heads/releng' || startsWith(github.ref, 'refs/tags/')
    #  with:
    #    name: Release image
    #    path: my-release-image.img.xz
