# This is a basic workflow to help you get started with Actions

name: Build Cloud Agent
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with :
          repository: bosch/swdc-os-cloud-agent
          path: cloudagent
          token: ${{ secrets.BUILD_CLOUD_AGENT }}
          ref: 'add_build_actions'

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
            go-version: 1.17
        
      # Runs a single command using the runners shell
      - name: Run build script
        run: | 
          cd $GITHUB_WORKSPACE/cloudagent/cmd/azure
          ./build.sh

      - name: Check build
        run: |
          cd $GITHUB_WORKSPACE/cloudagent/cmd/azure/target/natives/linux-arm64
          ls -l
          mkdir -p /home/runner/work/cloudagent
          cp -a * /home/runner/work/cloudagent
        
      - uses: actions/checkout@v2
      - run: |
          cd .github
          cp -a /home/runner/work/cloudagent *
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Auto generated builds"
          git push

