# This is a basic workflow to help you get started with Actions

name: Test1

# Controls when the workflow will run
on:  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
      
      - name: Find our current tag
        uses: oprypin/find-latest-tag@v1
        with:
          repository:  ${{ github.repository }}
          releases-only: false
          regex: '^\d+\.\d+\.\d+$'
        id: builder  
      - run: echo "Our repo is at version ${{ steps.builder.outputs.tag }}"
      
      - name: Populate build variables
        id: build_vars
        run: |
          echo ::set-output name=SOURCE_NAME::${GITHUB_REF#refs/*/}
          echo ::set-output name=SOURCE_BRANCH::${GITHUB_REF#refs/heads/}
          echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
          echo ::set-output name=DATE::$(date +'%Y%m%d-%H%M')
      - name: Show build variables
        run: |
          echo SOURCE_NAME: $SOURCE_NAME
          echo SOURCE_BRANCH: $SOURCE_BRANCH
          echo SOURCE_TAG: $SOURCE_TAG
          echo DATE: $DATE
        env:
          SOURCE_NAME: ${{ steps.build_vars.outputs.SOURCE_NAME }}
          SOURCE_BRANCH: ${{ steps.build_vars.outputs.SOURCE_BRANCH }}
          SOURCE_TAG: ${{ steps.build_vars.outputs.SOURCE_TAG }}
          DATE: ${{ steps.build_vars.outputs.DATE }}

      - name: Define current version of image
        id: build_version
        run: echo "::set-output name=version::${{ steps.build_tag.outputs.tag }}_${{ steps.build_vars.outputs.DATE }}_${{ steps.build_vars.outputs.SOURCE_NAME }}"
