# This is a basic workflow to help you get started with Actions

name: Test1

# Controls when the workflow will run
on:  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
      
      - name: Find our current tag
        uses: oprypin/find-latest-tag@v1
        with:
          repository:  ${{ github.repository }}
          releases-only: false 
        id: builder  
      - run: echo "Our repo is at version ${{ steps.builder.outputs.tag }}"
      
      - name: Azure Action
        uses: bacongobbler/azure-blob-storage-upload@v1.2.0
        with:
          source_dir: './'
          container_name: '$web'
          connection_string: ${{ secrets.ConnectionString }}
          extra_args: '--pattern *.txt'
          sync: false 
          
      - name: Upload to Azure
        run: |
          #az storage copy -s ./generated.txt --account-name swdcdownloads --destination-container '$web' --connection-string ${{ secrets.CONNECTIONSTRING }}
          az storage blob upload-batch --connection-string ${{ secrets.CONNECTIONSTRING }} -s ./ -d '$web' --pattern *.txt

